/**line-height Start**/
@each $value in $line-height-list{
  .hlh{
    &#{$value}{
      height:#{$value}px;
      line-height:#{$value}px;
    }
  }

  .lh{
    &#{$value}{
      line-height:#{$value}px;
    }
  }
}
/**line-height  End**/
