/**absolute-center Start**/
.absolute-center {
  &-x,
  &-xy,
  &-y {
    position: absolute;
    margin: auto;
  }

  &-x,
  &-xy {
    left: 0;
    right: 0;
  }

  &-xy,
  &-y {
    top: 0;
    bottom: 0;
  }
}
/**absolute-center  End**/
