/**_variables Start**/

//ionic:
$app-bg-color:#f2f2f2;
$content-margin: 10px;
$color-map: (
  0:#000,
  3:#333,
  6:#666,
  9:#999,
  c:#ccc,
  d:#ddd,
  f:#fff
);

$font-size-map: (
  from:10,
  to:30
);

$blank-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 30, 40, 50);
$wp-max:10;
$w1-max:20;
$line-height-list: (10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 50);


$margin-list:(-1,1,2,3,4,5,6,7,8,9,10,14,16,18,20,22,24,26,28,30,40,50);
$padding-list:(1,2,3,4,5,6,7,8,9,10,14,16,18,20,22,24,26,28,30,40,50);
/**_variables  End**/
